<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>公开课直播 - 友友桥</title>
	<meta name="Keywords" content="友友桥、咨询服务、分享智慧、创造价值">
	<meta name="Description" content="友友桥、咨询服务、分享智慧、创造价值">
	<link href="/static/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>

<body>
	<script type="text/javascript">
		window.location.href = "http://www.uubridge.net/serviceLogin.jsp?service=live&continue={{roomid}}";
	</script>
</body>
</html>