<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>

<meta name="description" content="">
<script src="/static/js/saved_resource.js"></script>
<link rel="stylesheet" href="/static/css/mt-index-base.css">
<link rel="stylesheet" href="/static/css/feededit.css">
<link rel="stylesheet" href="/static/css/base.css">

</head>
<body id="myuubridge">
	<div id="page">
	    <script type="text/javascript" src="/static/js/base.js"></script>
		
		<header class="mt-header">
			<article>
				<nav class="mt-nav">
					<p>复试风云汇 第一棒 上海交大站</p>
				</nav>
				<p style="color: #666;font-size: 12px;text-align: center;">力邀上海交大各学院研究生学长学姐，与您线上面对面，讲讲交大复试、调剂那些事儿！让我们一起传递正能量，14年考生先不要抢哈！^_^</p>
			</article>
		</header>
		
       <div id="content" class="mt-body">
			<div id="mytaobao-panel" class="grid-c2">
				<div class="col-main">
					<div class="main-wrap">
						<div class="mt-content-main">
							<div class="name">
								<p style="font-size: 20px;font-weight: bold;color: #EC6941;">3月9日  全天</p> 
							</div>
							
							<!-- <div style="width: 660px;padding-top: 10px;">
								<span style="text-align: center;width: 330px; position: relative;float: left;"> 
									上午
								</span> 
								
								<span style="text-align: center;width: 330px; position: relative; float: right;"> 
									下午
								</span>
							</div> -->
							
							<!-- 使用jquery控件修改 -->
							<div class="mt-feed-box">
								<div id="J_MtFeed" class="mt-feed">
									<div class="mt-feed-main-content J_MtFeedMainContent" style="display: block;">
										<div class="mt-feed-sub">
											<div class="mt-feed-sub-content J_MtFeedSubContent" style="display: block;">
												<div class="fd J_MtFeedWrap">
													<div class="fd-item">
														<div class="fd-avatar">
															<a href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=1156ADA6856711E293DDD067E5F1DAF3" target="_blank"> 
																09:00-09:40 &nbsp;&nbsp; 船舶海洋与建筑工程学院专场
															</a>
														</div>

														<div class="fd-wrap">
															<a target="_blank" href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=0CA55628856611E293DDD067E5F1DAF3" class="fd-content">
																14:00-14:40 &nbsp;&nbsp; 药学院专场
															</a>
														</div>
													</div>
													
													<div class="fd-item">
														<div class="fd-avatar">
															<a href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=4295F6C4856711E293DDD067E5F1DAF3" target="_blank"> 
																10:00-10:40 &nbsp;&nbsp; 生命科学技术学院专场
															</a>
														</div>

														<div class="fd-wrap">
															<a target="_blank" href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=BED2DC22856511E293DDD067E5F1DAF3" class="fd-content" >
																15:00-15:40 &nbsp;&nbsp; 法学院专场
															</a>
														</div>
													</div>
													
													<div class="fd-item">
														<div class="fd-avatar">
															<a href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=BD41DB34856411E293DDD067E5F1DAF3" target="_blank"> 
																11:00-11:40 &nbsp;&nbsp; 外国语学院专场 
															</a>
														</div>

														<div class="fd-wrap">
															<a target="_blank" href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=7579B62C856511E293DDD067E5F1DAF3" class="fd-content" >
																 16:00-16:40 &nbsp;&nbsp; 数学系专场
															</a>
														</div>
													</div>
													
													<div class="fd-item">
														<div class="fd-avatar">
															<a href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=13BF4D16856511E293DDD067E5F1DAF3" target="_blank"> 
																12:00-12:40 &nbsp;&nbsp; 材料科学与工程学院专场
															</a>
														</div>

														<div class="fd-wrap">
															 <a target="_blank" href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=557F88C4856511E293DDD067E5F1DAF3" class="fd-content" >
																	17:00-17:40 &nbsp;&nbsp; 机械与动力工程学院专场
															 </a>
														</div>
													</div>
													
													<div class="fd-item">
														<div class="fd-avatar">
															<a href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=84D07C06856411E293DDD067E5F1DAF3" target="_blank"> 
																13:00-13:40 &nbsp;&nbsp; 农业与生物学院专场
															</a>
														</div>

														<div class="fd-wrap">
															 <a target="_blank" href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=474A7330856611E293DDD067E5F1DAF3" class="fd-content">
																18:00-18:40 &nbsp;&nbsp; 化学与化工学院专场
															 </a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="name">
								<span style="font-size: 20px;font-weight: bold;color: #EC6941;"> 
									调剂专场    3月9日晚上  20:00--20:40
								</span> 
								
								<div>
									<a href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=133E3E4A859911E293DDD067E5F1DAF3" target="_blank">
										<img alt="调剂专场" src="/static/images/tj-2013-03-07.jpg" width="500">
									</a>
								</div>
							</div>
							
						</div>
						
						<div class="mt-content-side">
							<div class="mt-userinfo-fan">
								<div class="hd">
									<span>安泰专场      3月10日 下午</span>
								</div>
							</div>
							
							<div class="" style="display: block;">
								<div>
									<div>
										<div class="fd-item-friend">
											<!-- <div class="fd-avatar-friend">
												<a href="#" data-snscard="" target="_blank"> 
													<img width="50" height="50" alt="" src="myuub_files/user_09.jpg">
												</a>
											</div> -->

											<div class="fd-wrap-friend">
												<div class="fd-text-friend">
													<a target="_blank" href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=2ACE8AFA856811E293DDD067E5F1DAF3">安泰学长A 组 14:00-14:40</a>
												</div>
											</div>
									  	</div>
									  	
									  	<div class="fd-item-friend">
											<div class="fd-wrap-friend">
												<div class="fd-text-friend">
													<a target="_blank" href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=2ACE8AFA856811E293DDD067E5F1DAF3">安泰学长B 组 15:00-15:40</a>
												</div>
											</div>
									  	</div>
									  	
									  	<div class="fd-item-friend">
											<!-- <div class="fd-avatar-friend">
												<a href="#" data-snscard="" target="_blank"> 
													<img width="50" height="50" alt="" src="myuub_files/user_03.jpg">
												</a>
											</div> -->

											<div class="fd-wrap-friend">
												<div class="fd-text-friend">
													<a target="_blank" href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=2ACE8AFA856811E293DDD067E5F1DAF3">安泰学长C 组 16:00-16:40</a>
												</div>
											</div>
									  	</div>
									</div>
								</div>
							</div>
						
							<div style="text-align: center;color:#656565;padding-top: 60px;">
								<h2>学长经验分享预告</h2>
								<div style="padding-top: 10px;">
									<a href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=E54AACAE879511E293DDD067E5F1DAF3" target="_blank" title="交大校外调剂专场">
										<img src="/static/images/djxw-2013-03-07.jpg" alt="交大校外调剂专场" title="交大校外调剂专场">
									</a>
								</div>
							
								<div style="padding-top: 10px;">
									<a href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=BF1B730A879611E293DDD067E5F1DAF3" target="_blank" title="交大校内调剂专场">
										<img src="/static/images/djxn-2013-03-07.jpg" alt="交大校内调剂专场" title="交大校内调剂专场">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-sub">
					<aside class="mt-menu" id="J_MtSideMenu">
						<div class="mt-menu-tree">
							<dl class="mt-menu-item">
								<dt>电院专场 3月8日 今晚 </dt>
								
								<dd id="boughtShop">
									<a href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=D820FCC0856711E293DDD067E5F1DAF3" target="_blank">A组:电子、仪器科学 &nbsp;&nbsp;&nbsp;18:00-18:40</a>
								</dd>
								
								<dd id="favorite">
									<a href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=D820FCC0856711E293DDD067E5F1DAF3" target="_blank">B组:电气工程、自动化&nbsp;19:00-19:40</a>
								</dd>
								
								<dd id="point">
									<a href="http://{{domain}}/room/{{userid}}/{{username}}/?token={{token}}&roomid=D820FCC0856711E293DDD067E5F1DAF3" target="_blank">C组:计算机、信息通信&nbsp;20:00-20:40</a>
								</dd>
								
								<!-- <dd id="gotBonus">
									<a href="#" target="_blank">电院学长D 组 20:30-21:10</a>
								</dd> -->
							</dl>
						</div>
						
						<div style="text-align: center;color:#656565;padding-top: 60px;">
							<h2>前期回顾</h2>
							<div style="padding-top: 10px;">
								<a href="#" target="_blank" title="复试英语听力">
									<img src="/static/images/en-2013-03-07.jpg" alt="复试英语听力" title="复试英语听力">
								</a>
							</div>
							
							<div style="padding-top: 10px;">
								<a href="#" target="_blank" title="交大复试相关准备">
									<img src="/static/images/fszb-2013-03-07.jpg" alt="交大复试相关准备" title="交大复试相关准备">
								</a>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
</body>
</html>